[submodule "modules/BulkCheck"]
	path = modules/BulkCheck
	url = https://github.com/Daniel-KM/Omeka-S-module-BulkCheck.git
[submodule "modules/Collecting"]
	path = modules/Collecting
	url = https://github.com/DHBern/Collecting.git
[submodule "modules/CSVImport"]
	path = modules/CSVImport
	url = https://github.com/omeka-s-modules/CSVImport.git
[submodule "modules/CustomVocab"]
	path = modules/CustomVocab
	url = https://github.com/omeka-s-modules/CustomVocab.git
[submodule "modules/EasyInstall"]
	path = modules/EasyInstall
	url = https://github.com/Daniel-KM/Omeka-S-module-EasyInstall.git
[submodule "modules/FileSideload"]
	path = modules/FileSideload
	url = https://github.com/omeka-s-modules/FileSideload.git
[submodule "modules/Generic"]
	path = modules/Generic
	url = https://github.com/Daniel-KM/Omeka-S-module-Generic.git
[submodule "modules/HideProperties"]
	path = modules/HideProperties
	url = https://github.com/zerocrates/HideProperties.git
[submodule "modules/Lockout"]
	path = modules/Lockout
	url = https://github.com/Daniel-KM/Omeka-S-module-Lockout.git
[submodule "modules/Log"]
	path = modules/Log
	url = https://github.com/Daniel-KM/Omeka-S-module-Log.git
[submodule "modules/Mapping"]
	path = modules/Mapping
	url = https://github.com/DHBern/Mapping
[submodule "modules/NetworkMap"]
	path = modules/NetworkMap
	url = https://github.com/coreytegeler/omeka-s-module-NetworkMap.git
[submodule "modules/Next"]
	path = modules/Next
	url = https://github.com/Daniel-KM/Omeka-S-module-Next
[submodule "modules/NumericDataTypes"]
	path = modules/NumericDataTypes
	url = https://github.com/omeka-s-modules/NumericDataTypes.git
[submodule "modules/PdfEmbed"]
	path = modules/PdfEmbed
	url = https://github.com/zerocrates/PdfEmbedS.git
[submodule "modules/AnalyticsSnippet"]
	path = modules/AnalyticsSnippet
	url = https://github.com/Daniel-KM/Omeka-S-module-AnalyticsSnippet
[submodule "modules/AdvancedSearchPlus"]
	path = modules/AdvancedSearchPlus
	url = https://github.com/Daniel-KM/Omeka-S-module-AdvancedSearchPlus/
[submodule "modules/Reference"]
	path = modules/Reference
	url = https://github.com/Daniel-KM/Omeka-S-module-Reference
[submodule "modules/Search"]
	path = modules/Search
	url = https://github.com/DHBern/Omeka-S-module-Search
[submodule "modules/Sharing"]
	path = modules/Sharing
	url = https://github.com/omeka-s-modules/Sharing/
[submodule "modules/Translations"]
	path = modules/Translations
	url = https://github.com/Daniel-KM/Omeka-S-module-Translations/
[submodule "themes/corona-memory"]
	path = themes/corona-memory
	url = https://github.com/DHBern/corona-memory
[submodule "modules/jQueryUI"]
	path = modules/jQueryUI
	url = https://github.com/biblibre/omeka-s-module-jQueryUI
[submodule "modules/ZoteroImport"]
	path = modules/ZoteroImport
	url = https://github.com/omeka-s-modules/ZoteroImport.git